doctype html
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    meta(name="mobile-web-app-capable", content="yes")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css', type='text/css' )
    style
      include ../public/chat.css

  body
    div.heading 
      div MORE 
      div TALK

    div.heading2
      div MORE
      div THOUGHTS

    div.pattern
    div#app
      div#chat
      div#viewers 1 👥 
      input#input(type='text', autocorrect='on', autocomplete='off', autocapitalize='off', placeholder='Message' )
      div.simple-keyboard

  script(src='https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js')
  script
    include ../public/chat.js
  script
    include ../public/keyboard.js

