doctype html
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, interactive-widget=resizes-content")
    meta(charset="UTF-8")
    meta(name="mobile-web-app-capable", content="yes")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css', type='text/css' )
    style
      include ../public/chat.css

  body
    div.heading
      div IMMERSIVE
      div CHATS

    div.heading2
      div MORE
      div THOUGHTS

    div.heading3
      div REAL
      div TALK


    div.pattern
    div#app
      div#chat
      div#viewers 1 👥 
      textarea#input(rows='1', spellcheck=false, autocorrect='on', autocomplete='off', autocapitalize='off', placeholder='Text' )
      div.simple-keyboard

  script(src='https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js')
  script
    include ../public/chat.js
  script
    include ../public/keyboard.js

