doctype html
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    style
      include ../public/chat.css
  body

  div#chat
  input#input(type='text', autocomplete='off', autocapitalize='none', placeholder='Message' )

  script
    include ../public/chat.js
