*{
  margin:0;
  padding:0;
  border: none;
  color: #41525d;
}

html{
  font-family: 'Verdana';
}

#input{

  grid-area: input;
  align-self:end;

  padding: 12px 12px 5px 12px;
  resize: none;
  outline: none;
  border-radius: 10px 10px 0 0;
  background-color: #D6E4E5;
  border: 1px solid #497174;
  border-width: 1px 1px 0 1px;
  font-weight: bold;
  font-size: 18px;
}

.msg{
  animation: fadeout 8s linear forwards;
  overflow-wrap: break-word;
  font-weight: bold;
  font-size: 35px;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  user-select: none;
}

.msg.own{
  text-decoration: none;
  color: #59778b;
}

.msg.other{
}

@keyframes fadeout{
  from {opacity: 0}
  10% {opacity: 1}
  to {opacity: 0}
}

div#chat{
  position: relative;
  grid-area: chat;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  gap: 0px 8px;
  overflow:hidden;
  /*hack use border as padding*/
  border: 20px solid transparent;
  border-width: 0 20px 0 20px;
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 10%;
}

#viewers{
  grid-area: viewers;
  align-self:end;
  justify-self: center;
  width: 30px;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
  background-color: #D6E4E5;
  border-radius: 10px 10px 0 0;
  border: 1px solid #497174;
  border-width: 1px 1px 0 1px;
}

html,body,#app{height: 100%}

div#app{
  display:grid;

  grid-template-rows: auto 70px;
  grid-template-columns: 1fr 130px 1fr;
  grid-template-areas: 
    "chat chat chat"
    ". input viewers" ;

  background-color: #EFF5F5;
  opacity: 1;
  background-image: radial-gradient(#d6e4e5 0.65px, #EFF5F5 0.65px);
  background-size: 13px 13px;
}

.simple-keyboard{
  grid-area: keyboard;
  display: none;
}

.heading, .heading2, .heading3{
  display: none;
}

@media screen and (min-width: 800px) {
  div#app{
    width: 380px;
    margin: 0px auto;
    max-height: 750px;
    position: relative;
    border-radius: 15px;
    border-width: 40px 13px 0px;
    outline: 10px solid black;
    grid-template-areas: 
      "chat chat chat"
      ". input viewers" 
      "keyboard keyboard keyboard";

    grid-template-rows: 1fr 70px auto;
  }
  div#chat{
    padding-bottom: 20%;
  }
  body{
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .pattern{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #e5b3b355 25%, transparent 25%) -29px 0/ 58px 58px, linear-gradient(225deg, #e5b3b3 25%, transparent 25%) -29px 0/ 58px 58px, linear-gradient(315deg, #e5b3b355 25%, transparent 25%) 0px 0/ 58px 58px, linear-gradient(45deg, #e5b3b3 25%, #9494b0 25%) 0px 0/ 58px 58px;
    z-index:-999;
  }

  .simple-keyboard{
    display: block;
    align-self:end;
  }

  .heading{
    display: block;
    font-size: 90px;
    position: fixed;
    left: calc(50% + 220px);
    text-shadow: 5px 5px #F08A4B ;
    transform: rotate(10deg);
    padding: 10px;
    line-height: 90px;
    letter-spacing: -3px;
    top: 350px;
    text-align: center;
  }
  .heading > div{
    color: #F3CA40;
    font-weight: bold;
  }

  .heading2{
    display: block;
    font-size: 80px;
    position: fixed;
    right: calc(50% + 220px);
    text-shadow: 5px 5px #F08A4B ;
    transform: rotate(-15deg);
    padding: 10px;
    top: 200px;
    line-height: 90px;
    letter-spacing: -3px;
    text-align: center;
  }
  .heading2 > div{
    color: #F3CA40;
    font-weight: bold;
  }

  .heading3{
    display: block;
    font-size: 80px;
    position: fixed;
    right: calc(50% + 220px);
    text-shadow: 5px 5px #F08A4B ;
    transform: rotate(15deg);
    padding: 10px;
    top: 500px;
    line-height: 90px;
    letter-spacing: -3px;
    text-align: center;
  }

  .heading3 > div{
    color: #F3CA40;
    font-weight: bold;
  }
}

.heart{
  color: transparent;
  font-size: 50px;
  animation: flyaway 1.0s ease-out forwards;
  position: absolute;
  bottom: 0px;
  user-select: none;
}

@keyframes flyaway{
  from {opacity: 0.3}
  to {opacity: 0.8;bottom: 100%;transform: rotate(0deg)}
}

.riseup{
  animation: riseup 0.3s ease-out forwards;
}

@keyframes riseup{
  from {height: 20px}
  50% {height: 30px}
  to {height: 20px; }
}
